

.car{
    margin: 30px 0 80px 0;
}
h2{
    line-height: 50px;
    font-size: 30px;
}
.car .carall .cartitle{
    width: 100px;
    height: 40px;
    border: solid 1px #ccc;
    font-size: 20px;
    line-height: 40px;
}
.car .carall .cartitle tr{
    display: flex;
    justify-content: space-around;   
}
.car .carall .cartitle th{
    display: inline-block;
}
.car .carall .carmain{
    border: solid 1px #ccc;
    margin: 0 auto;
    
}
.car .carall .carmain tr{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
}
.car .carall .carmain td{
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0;

}
.car .carall .carmain input{
    display: inline-block;
}

.car .carall .carmain img{
    width: 60px;
    font-size: 30px;
    text-align: center;
}

.car .carall .carmain td .sumgb{
    width: 60px;
}
.car .carall .carmain .teshude{
    width: 100px;
}

